*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 40px;
}
.input{
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: #BFBFBF;
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}
.input-adress{
    flex: 0.8;
    height: 40px;
    background-image: url(../img/home.svg);
}
.input-adress:focus{
    color: black;
}
.input-search{
    width: 306px;
    height: 34px;
    background-image: url(../img/search.svg);
    margin-left: auto;
}
.input-search:focus{
    color: black;
}
.button{
    cursor: pointer;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
}
.button-1{
    background: #1890FF;
    margin-right: 9px;
    background-image: url(../img/man.svg);
    background-repeat: no-repeat;
    background-position: left 16px center;
    padding-left: 30px;
    color: #fff;
}
.button-2{
    background-image: url(../img/shopping-cart.svg);
    background-repeat: no-repeat;
    background-position: left 16px center;
    padding-left: 32px;
}
.promo{
    background: #fff1b8 url(../img/pizza-bg.png) no-repeat top -70px right -50px / 600px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 56px;
}
.promo-text{
    padding: 68px 0 68px 71px;
}
.promo-title{
    margin: 0;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    padding-bottom: 15px;
}
.promo-subtitle{
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
    width: 538px;
}


.restaurants{
    margin-bottom: 44px;
}
.section-heading{
    display: flex;
    align-items: center;    
}
.section-title{ 
    font-size: 36px;
    line-height: 42px;
    margin-right: 30px;
}
.card-title{
    margin: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.card-title-reg{
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
}
.card-time{
    background: #262626;
    border-radius: 2px;
    align-self: center;
    color: #fff;
    padding: 4px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card-img{
    width: 384px;
    height: 250px;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}
.card-text{
    padding: 21px 23px 35px 24px;
}
.card-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 32px;
}
.raiting{
    font-weight: bold;
    color: #FFC107;
    margin-right: 26px;
}
.price{
    color: #8C8C8C;
    margin-right: 10px;
}
.price:after{
    content: "";
    width: 5px;
    height: 5px;
    background: #8C8C8C;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.eat{
    color: #8C8C8C;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer{
    padding: 60px 0;
    background: #fff;
}
.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav{
    margin-right: auto;
    margin-left: 35px;
}
.footer-link{
    text-decoration: none;
    font-size: 18px;
    color: #595959;
}
.footer-link:not(:last-child){
    margin-right: 15px;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-link:not(:last-child){
    margin-right: 21px;
}


/* Страница кафе */
.ingridients{
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}
.card-buton-pay{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.button-pay{
    background: #1890FF;
    margin-right: 9px;
    padding-left: 30px;
    color: #fff;
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-right: 30px;
}
.button-span-text{
    margin-right: 10px;
}
.card-price-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.card-img-pay{
    width: 100%;
    height: 212px;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}

/* модальное окно */
.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.open{
    display: flex;
}
.modal-dialog{
    margin: auto;
    max-width: 780px;
    width: 95%;
    background: #FFFFFF; 
    border-radius: 5px;
    padding: 40px 45px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.modal-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
}
.close{
    font-size: 36px;
    border: none;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}
.close:focus{
    outline: none;
}
.food-counter{
    display: flex;
    align-items: center;
}
.food-price{
    margin-left: auto;
    margin-right: 47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.food-name{
    font-size: 18px;
    line-height: 32px
}
.food-namber{
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}
.food-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    color: #40A9FF;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px;
}
.food-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
}
.prace-tag{
    background: #262626;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    padding: 15px 20px;
}
.footer-button-1{
    margin-right: 19px;
    padding: 8px 16px;
    background: #1890FF;
    color: #fff;
}
.footer-button-2{
    padding: 8px 16px;
}
@media (max-width: 1366px){
    .container{
        max-width: 900px;
    }
    .card-info{
        font-size: 13px;
    }
    .raiting{
        margin-right: 10px;
    }
    .promo{
        background: #fff1b8 url(../img/pizza-bg.png) no-repeat top -20px right -70px / 400px;
    }
}
@media (max-width: 996px){
    .container{
        max-width: 720px;
    }
    .promo{
        background: #fff1b8 url(../img/pizza-bg.png) no-repeat top -20px right -70px / 300px;
    }
    .promo-title{
            font-size: 35px;
            line-height: 1.2;
        }
    .promo-subtitle{
        font-size: 20px;
        max-width: 400px;
        }
    .card{
        flex-basis: 49%;
    }
}
@media (max-width: 772px){
    .container{
        max-width: 570px;
    }
    .card .raiting{
        flex-basis: 100%;
    }
    .card-heding{
        font-size: 13px;
    }
    .card-title{
        font-size: 18px;
    }
    .card-info{
        font-size: 13px;
    }
    .footer-nav{
        display: flex;
        flex-wrap: wrap;
    }
    .promo-text{
        padding: 40px;
    }
    .promo{
        background: #fff1b8 url(../img/pizza-bg.png) no-repeat top -20px right -70px / 200px;
    }
    .promo{
        margin-bottom: 30px;
    }
    .promo-title{
        font-size: 24px;
    }
    .promo-subtitle{
        max-width: 300px;
        font-size: 15px;
        line-height: 1.3;
    }
}
@media (max-width: 590px){
    .container{
        width: 90%;
    }
    .header{
        flex-wrap: wrap;
    }
    .input-adress{
        order: 5;
        margin-top: 10px;
        flex: 1;
    }
    .promo{
        margin-bottom: 30px;
    }
    .promo{
        background-image: none;
    }
    .cards{
        margin-top: 20px;
    }
    .card{
        flex-basis: 100%;
    }
    .card-img{
        width: 100%;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
    }
    .modal-dialog{
        padding: 20px 25px;
    }
    .modal-header{
        margin-bottom: 25px;
    }
    .modal-title{
        font-size: 24px;
    }
    .cose{
        font-size: 24px;
    }
    .food-name{
        font-size: 16px;
    }
    .food-price{
        font-size: 16px;
    }
}
@media (max-width: 480px){
    .button-text{
        display: none;
    }
    .card-info{
        font-size: 15px;
    }
    .promo-title{
        font-size: 20px;
    }
    .promo-subtitle{
        width: 230px;
    }
    .section-heading{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    .footer-block{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-nav{
        display: inline-block;
        font-size: 13px;
        flex-direction: initial;
        margin: auto;
        margin-bottom: 17px;
        margin-top: 15px;
    }
    .prace-tag{
        width: 90px;
        display: flex;
    }
    .modal-footer{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .food-button{
        width: 30px;
        height: 25px;
    }
    .footer-buttons{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    .food-name{
        margin-right: 5px;
    }
}